langchain==0.3.23
langchain-core==0.3.51
langchain-community==0.3.21
langchain-openai==0.3.12
langgraph==0.3.29
langgraph-supervisor==0.0.16
graphviz==0.20.3
streamlit==1.44.1
pandas==2.2.3
langgraph-checkpoint==2.0.24
pyvis
bs4
rdflib